.encabezado{
    background-color: rgba(179, 51, 89, 0.774);
    width: 100%;
    height: 1400px   ;
}
.menu{
    background-color: rgb(91, 167, 218);
    width: 100%;
    height: 150px;
    font-size: 120px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.menu2{
    background-color: rgb(206, 124, 206);
    width: 100%;
    height: 100px;
    display: flex;
}
.Tecnologia{
    background-color: blueviolet;
    width: 260px;
    height: 80px;
    margin: 10px;
    font-size: 50px;
    text-align: center;
}
.Matematicas{
    background-color: blueviolet;
    width: 260px;
    height: 80px;
    margin: 10px;
    font-size: 50px;
    text-align: center;
}
.Ingles{
    background-color: blueviolet;
    width: 260px;
    height: 80px;
    margin: 10px;
    font-size: 50px;
    text-align: center;
}
.contenedor{
    background-color: pink;
    width: 100%;
    height: 1200px;
    display: flex;
}
.izq{
    background-color: rgb(36, 145, 127);
    width: 20%;
    height: 1200px;
}
.center{
    background-color: pink;
    width: 60%;
    height: 1200px;
}
.derecha{
    background-color: rgb(218, 88, 157);
    width: 20%;
    height: 1200px;
}

